body
{
    font-family: 'Big Shoulders Text', cursive;
    /* font-size: 3.0rem; */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.mynav
{
    /* background-color: orange; */
    background-image: url("../img/acm-bg-2.png");
    background-size: 600px 175px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    width: 100%;
    height: 110px;
    display: flex;
}

.mydiv
{
    flex: 1;
    color: white;
}

.mynav img
{
    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
}

#techvalley
{
    font-size: 45px;
    color: white;
}
#techvalley:hover
{
    color: yellow;
}

nav ul
{
    float: right;
    margin-top: 15px;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;   
    margin: 5px;
    font-size: 25px;
}

nav ul li:hover
{
    background-color: aqua;
    color: black;
}

.mcontainer
{
    /* border: 2px dashed white; */
    text-align: center;
    margin: auto;
    margin-top: 50px;
}


.main-card
{
    justify-content: center;
    /* border: 2px solid yellow; */
}
.cards
{
    /* border: 2px solid black; */
    text-align: center;
    justify-content: center;
    margin: 5px;
    color: black;
}

#card1
{
    margin-right: 30px;
}

#card2
{
    margin-left: 30px;
}

.card
{
    border: 4px solid yellowgreen;
}

.card-body
{
    background-color: royalblue;
    /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); */
    /* background: rgba(7, 40, 195, 0.8); */
}

.foot
{
    margin-top: 5%;
}